#grid {
    display: flex;
    flex-wrap: wrap;
    
    align-items: flex-start;
    justify-content: center;
    gap: 1px;
}

.innerDiv {
    display:flex;
    /* /* flex-shrink: 0; */
    flex-basis: 4.5%;
    /* margin : 10px; */ 
    border : 2px solid black;
    border-radius : 2px;
    padding : 4px;
}   
/* 
.row1 {
    justify-content: space-between;
} */